body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 60px;
    background-color: tomato;
    color: #fff;
    width: 100%;
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    background-color: #fff;
    border-radius: 7px;
    border-width: 1px;
    margin: 8px;
    padding: 10px;
}

.titulo {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.botao {
    height: 40px;
    background: none;
    border-radius: 5px;
    color: tomato;
    border: 2px solid tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  20px;
    font-weight: bold;
    transition: all 0.5s;
}

.botao:hover {
    background-color: tomato;
    color: #fff
}