.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.lista-filmes {
    margin: 15px;
}

.lista-filmes article {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 15px;
}

.lista-filmes strong {
    padding-bottom: 15px;
    font-size: 22px;
}

.lista-filmes img {
    width: 700px;
    max-height: 350px;
}

.lista-filmes article a {
    text-decoration: none;
    color: #fff;
    background-color: brown;
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}