.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 320px;
    height: 350px;
    padding-top: 100px;
}

.timer {
    font-size: 100px;
    margin-top: -230px;
}

.areaBtn {
    margin-top: 150px;
    display: flex;
    
}

.botao {
    width: 100px;
    background-color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    padding: 5px;
}

.botao:hover {
    opacity: 0.7;
    color: #000;
    transition: all 0.5s;
}